/*Fonts
font-family: 'Cormorant Garamond', serif;
font-family: 'Heebo', sans-serif;
font-family: 'Nunito', sans-serif;*/
html, body {
  height: 100%;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

#index_body {
  background-color: #f7eaec;
  /*Follow at instagram*/
}
#index_body #index_header {
  width: 100%;
  position: relative;
  background-color: white;
}
#index_body #index_header .navbar {
  position: absolute;
  top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 1.3em;
  width: 85%;
  background-color: rgba(248, 236, 238, 0.7);
  font-size: 1.2em;
}
#index_body #index_header .navbar ul {
  display: flex;
  justify-content: space-around;
}
#index_body #index_header .navbar ul li {
  list-style-type: none;
}
#index_body #index_header .navbar ul li a {
  text-decoration: none;
  color: black;
}
#index_body #index_header section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "pic01 pic02";
}
#index_body #index_header div {
  height: 600px;
  width: 100%;
}
#index_body #index_header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#index_body .subtitle {
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7eaec;
}
#index_body .subtitle h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  text-align: center;
}

/*Grid areas*/
.pic01 {
  grid-area: pic01;
}

.pic02 {
  grid-area: pic02;
}

#index_footer {
  height: 300px;
  background-color: rgb(124, 67, 102);
}
#index_footer p {
  font-size: 30px;
}

#index_main {
  background-color: #f7eaec;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "slide_main_01 slide_main_02 slide_main_03 slide_main_04";
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}
#index_main .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide_main_01 {
  grid-area: slide_main_01;
}

.slide_main_02 {
  grid-area: slide_main_02;
}

.slide_main_03 {
  grid-area: slide_main_03;
}

.slide_main_04 {
  grid-area: slide_main_04;
}

#index_article {
  margin: 50px;
  display: flex;
}
#index_article div {
  margin: 1rem auto 1rem;
  width: 50%;
  display: flex;
  align-items: center;
}
#index_article div:nth-child(2) {
  background: rgb(114, 164, 175);
  background: linear-gradient(90deg, rgba(114, 164, 175, 0.2581407563) 11%, rgba(229, 169, 153, 0.3925945378) 93%);
}
#index_article div img {
  width: 100%;
  height: 100%;
}
#index_article div p {
  text-align: center;
}

#index_footer {
  background: rgb(247, 234, 236);
  background: linear-gradient(180deg, rgb(247, 234, 236) 47%, rgba(0, 0, 0, 0.3505777311) 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index_footer .index_footer_title {
  margin: 2rem;
}
#index_footer .index_footer_map ul li {
  font-size: 1rem;
  list-style-type: none;
}
#index_footer .index_footer_map ul li a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
